*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}    

:root {
    --whiteColor-text:  rgba(240, 248, 255, 0.863);
}

/*MODiFICACIONES AL SCROLL BAR ORIGINAL*/
html::-webkit-scrollbar {
    width: 4px;
}

html::-webkit-scrollbar-track {
    background-color: rgb(4, 4, 4);
}

html::-webkit-scrollbar-thumb {
    background-color:#0059a67b;
    border-radius: 5px;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: url(../images/fondo.jpg) ;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

