footer {
    display: flex;
    /*flex-direction: column;/*este hace lo mismo que el de abajo(no se porque use el de abajo y no este)*/
    /*flex-wrap: nowrap;/*El nowrap(no me respeta los anchos de los elementos, los encoje todos para dejarlos en una misma fila)  ES PARA QUE SE ADAPTE SEGUN EL TAMANIO ESTABLECIDO*/
    flex-flow: row nowrap;
    /*ESte flex-flow abarca tanto "flex-drirection" como "flex-wrap" es como una fusion de los dos, por eso se uso este, pero puedo usar los otros dos en vez de este sin problema*/
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100px;
}

footer p {
    color: var(--whiteColor-text);
}

.footer_derechos {
    font-size: 9px;
    letter-spacing: 2px;
    flex: 1 1 auto;

    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
}


.footer_redes {
    flex: 2 1 auto;
    display: flex;
    justify-content: center;
}

.footer_redes a {
    color: var(--whiteColor-text);
    padding: 0 20px;/**/
    font-size: 11px;
    letter-spacing: 2px;
    text-decoration: none;
}

.footer_redes a:hover {
    text-shadow: 0 0 10px #0691e8, 0 0 5px #ffffff;
    transition: 0.3s;
}

.footer_disigned {
    font-size: 9px;
    letter-spacing: 2px;
    flex: 1 1 auto;

    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.nameDesigned {
    color: white;
    font-style: italic;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.5PX;
}


@media all and (max-width:640px) {

    footer {
        flex-flow: column nowrap;
        /*ESte flex-flow abarca tanto "flex-drirection" como "flex-wrap" es como una fusion de los dos, por eso se uso este, pero puedo usar los otros dos en vez de este sin problema*/
        margin-top: 50px;
    }

    .footer_disigned {
        margin: 0;
        order: 1;
        /*Para cambiar el orden porque no me gusta cunado pasa a colimna, lo prefiero asi como lo estoy dejando*/
    }

    .footer_derechos {
        margin: 0;
        order: 2;
    }

    .footer_redes {
        flex: 1 1 auto;
        /*Sin la media estaba 2 1 auto*/
        order: 0;
    }

}